 <!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="1" >
    <listeners>
        <listener class-name="org.testng.reporters.EmailableReporter"/>
    </listeners>
    <test name="TestSanPham">
        <classes>
            <class name="test.SanPhamTest"/>
            <class name="test.NhanVienServiceTest"/>
            <class name="test.ThuocTinhServiceTest"/>
            <class name="test.KhachHangServiceTest"/>
        </classes>
    </test>
</suite>